* {
  margin: 0;
  padding: 0;
}

/* My body BG */
body {
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background: #202A70;
  font-size: 1.2em;
}

h1 {
  letter-spacing:1px;
}

/* For putting footer at end of page */
.main-content {
  letter-spacing:1px;
  flex: 1 0 auto;
  padding: 5px;
  max-width: 100%; /* Add this line to limit the maximum width */
}

.footer {
  flex-shrink: 0;
}

/* Spacebox */
.spacebox {
  padding: 20px;
}

/* Navbar styles */
mynav {
  background-color: #F86F03;
  overflow: hidden;
  /* border-radius: 10px; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  width: 100%; /* Set the width to 100% */
  padding: 0; /* Remove padding */
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
}

mynav ul {
  background-color: #020024;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

mynav li.active a {
  background-color: #84347C;
  border-radius: 50px;
  color: rgba(2,0,36,1); /* Change the text color to blue */
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
}

mynav li {
  float: left;
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
}

mynav a {
  display: block;
  color: #FFB757;
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif; /* Use Helvetica font */
  transition: all 0.3s ease-in-out;
}

mynav a:hover {
  background-color: #E0368B;
  color: rgba(2,0,36,1);
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(+2px);
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
}

/* Footer styles */

.blockfooter {
  bottom: 0;
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box;
  background-color: #020024;
  text-align: center;
  padding: 10px;
  color: #FFB757;
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.blockfooter a {
  color: #FFB757;
  font-weight: bold;
  text-decoration: none;
}

.blockfooter a:hover {
  text-decoration: underline;
}

.blockfooter .download {
  background-color: #FFB757;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.blockfooter .download:hover {
  background-color: #6495ED;
}

/* Column with picture */
.row {
    display: flex;
    align-items: center; /* center vertically */
    gap: 3px;
    justify-content: center;
    align-items: center;
  }

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  justify-content: center;
  align-items: center;
} 

.rounded-image {
  width: 80%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

/* Style for the title */
.title {
  position: relative;
  font-size: 48px; /* Increase font size as needed */
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px; /* Add spacing at the bottom */
  background: linear-gradient(135deg, #FAF7F0 50%, #FAF7F0 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #E8E0FF;
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
}

.textmain {
  position: relative;
  display: inline-block;
  margin-bottom: 20px; /* Add spacing at the bottom */
  -webkit-background-clip: text;
  background-clip: text;
  color: #E8E0FF;
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
}

/* OTHER PAGE TEMPLATE */
 .twocolumn {
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Half of the viewport height */
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.otherbox1 {
  background-color: #DDEBEB;
  color: #162468;
  width: 90%; /* Adjust for gap considering padding 5%*/
  height: 90%; /* Adjust for gap considering padding 5%*/
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rounded-button1{
  background-color: #37888A;
  color: #E8E0FF;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.rounded-button1:hover{
  color: #162468;
}


.otherbox2 {
  background-color: #BFA5A3;
  color: #162468;
  width: 90%; /* Adjust for gap considering padding 5%*/
  height: 90%; /* Adjust for gap considering padding 5%*/
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rounded-button2{
  background-color: #690215;
  color: #E8E0FF;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.rounded-button2:hover{
  color: #162468;
}

.otherbox3 {
  background-color: #324B4C;
  color: #E8E0FF;
  width: 90%; /* Adjust for gap considering padding 5%*/
  height: 90%; /* Adjust for gap considering padding 5%*/
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rounded-button3{
  background-color: #068488; /* 324B4C */
  color: #E8E0FF;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.otherbox4 {
  background-color: #D0C8FF;
  color: #162468;
  width: 90%; /* Adjust for gap considering padding 5%*/
  height: 90%; /* Adjust for gap considering padding 5%*/
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rounded-button4{
  background-color: #4D4D99; /* FFFADE */
  color: #E8E0FF;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.rounded-button4:hover{
  color: #162468;
}

.otherbox4 my_p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  text-align: left;
}

/* Spacebox */
.smallbox {
  padding: 5px;
}

/*h1text otherbox */
.otherbox1 h1, .otherbox2 h1, .otherbox3 h1, .otherbox4 h1 {
  position: relative;
  font-size: 3em;
  font-family: 'Times New Roman'; /* Use Helvetica font */
  display:table;
  cursor:pointer;
  transition:.6s;
}

/*h1text otherbox */
.otherbox1 h2, .otherbox2 h2, .otherbox3 h2, .otherbox4 h2 {
  position: relative;
  font-size: 1em;
  font-family: 'Rubik'; /* Use Helvetica font */
  display:table;
  cursor:pointer;
  transition:.6s;
}

.image-and-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px; /* Adjust as needed */
}

.col_other1{
  float: left;
  width: 75%;
  padding-right: 5%;
  justify-content: center;
  align-items: center;
}

.col_other2 {
  width: 20%;
  position: relative; /* Create a reference point for positioning */
  display: flex; /* Display elements in a flex container */
  flex-direction: column; /* Arrange elements vertically */
  justify-content: flex-end; /* Align elements to the bottom */
  align-items: flex-end; /* Align elements to the right */
}

.rounded-button1 , .rounded-button2, .rounded-button3, .rounded-button4 {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 1s;
  transition: color 0.5s;
}

.rounded-button1:hover , .rounded-button2:hover, .rounded-button3:hover, .rounded-button4:hover {
  background-color: transparent;
  transition: background-color 1s;
  transition: color 0.5s;
}
