* {
  margin: 0;
  padding: 0;
}

/* My body BG */
body {
   font-family: "Helvetica", sans-serif; /* Set font family to Helvetica */
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   /* background: #B0E0E6; */
   background: #37888A;
   /* background: linear-gradient(to bottom right, #003366, #00ffff); */
}

h1 {
  font-family: 'Helvetica', sans-serif;
}
/* For putting footer at end of page */
.main-content {
  font-family: "Helvetica", sans-serif; /* Set font family to Helvetica */
  flex: 1 0 auto;
  max-width: 100%; /* Add this line to limit the maximum width */
}

.footer {
  flex-shrink: 0;
}

/* Spacebox */
.spacebox {
  padding: 20px;
}

/* Footer styles */

.blockfooter {
  bottom: 0;
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box;
  background-color: #324B4C;
  text-align: center;
  padding: 10px;
  color: #F9F871;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.blockfooter a {
  color: #F9F871;
  font-weight: bold;
  text-decoration: none;
}

.blockfooter a:hover {
  text-decoration: underline;
}

.blockfooter .download {
  background-color: #324B4C;
  color: #F9F871;
  padding: 10px 20px;
  border-radius: 5px;
}

.blockfooter .download:hover {
  background-color: #324B4C;
}

/* Column with picture */
.row {
    display: flex;
    align-items: center; /* center vertically */
    gap: 3px;
    justify-content: center;
    align-items: center;
  }

 /* Three image containers (use 25% for four, and  25% for two, etc) */
 .threecolumn {
  margin-left: 3%;
  float: left;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.column1 {
  float: left;
  width: 30%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.column2 {
  width: 60%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column with picture */
.row {
    display: flex;
    align-items: center; /* center vertically */
    justify-content: center;
  }

 /* Three image containers (use 25% for four, and  25% for two, etc) */
 .threecolumn {
  margin-left: 3%;
  float: left;
  width: 30%;
  justify-content: center;
  align-items: center;
}

 .twocolumn {
  flex: 1;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* Style for the title */
.title {
  position: relative;
  font-size: 48px; /* Increase font size as needed */
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px; /* Add spacing at the bottom */
  background: linear-gradient(135deg, #FAF7F0 50%, #FAF7F0 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #DDEBEB;
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
}

.textmain {
  position: relative;
  display: inline-block;
  margin-bottom: 20px; /* Add spacing at the bottom */
  -webkit-background-clip: text;
  background-clip: text;
  color: #DDEBEB;
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
}

img{
  width: 43%;
}

.gradientbox_project {
  letter-spacing:1px;
  font-family: 'Rubik'; /* Use Helvetica font */
  display: flex;
  max-width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #324B4C;
  border-radius: 20px;
  background-image: #DDEBEB;
  background-color: #DDEBEB;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #324B4C;
  justify-content: center;
  align-items: center;
}

.col_proj_1 {
  flex: 1;
  padding-right: 10px; /* Add some padding between columns */
  letter-spacing:1px;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik'; /* Use Helvetica font */
}

.col_proj_2 {
  width: 150px; /* Set the fixed width for col_proj_2 */
  flex-shrink: 0; /* Prevent col_proj_2 from shrinking */
  justify-content: center;
  align-items: center;
}